<div class="container monsterData-mainContainer">
    <div class="row">
        <div class="col-md-12">
            <h3>This is a Form</h3>
            <form class="form-inline">
                <label class="">Input</label>
                <input type="text" class="form-control" ng-model="inputName"/>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top: 25px">
        <button class="form-control" ng-click="vm.getAllMoves()">Get All Moves</button>
        <button class="form-control" ng-click="vm.getMoveByName(inputName)">Get Move By Name</button>
        <button class="form-control" ng-click="vm.getMoveByType(inputName)">Get Moves By Type</button>
        <button class="form-control" ng-click="vm.getMoveByMonster(inputName)">Get Moves By Monster</button>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Category</th>
                <th>Power</th>
            </tr>
            <tr ng-repeat="move in moves">
                <td>{{move.Name}}</td>
                <td>{{move.Type}}</td>
                <td>{{move.Category}}</td>
                <td>{{move.Power}}</td>
            </tr>
        </table>
    </div>
</div>