/*#region Monster*/
.container-Monster {
    padding: 15px 15px 15px 15px;
    margin-right: auto;
    margin-left: auto;
}

.keybinds {
    font-size: 200%;
    font-family: "consolas";
}

.monsterData-mainContainer {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: auto;
}
/*#endregion Monster*/
